.card-list {
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
}
}
.card-list__item {
    transition: box-shadow var(--timing-anim);
    &:hover, &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &:not(:last-child) {
        margin-bottom: 30px;
    }
    display: flex;
    @media screen and (min-width:768px) {
        flex-direction: column;
        width: calc(50% - 15px);
        &:not(:last-child) {
            margin-right: 30px;
        }
        &:nth-child(2n) {
            margin-right: 0px;
        }
        &:nth-last-child(-n+1) {
            margin-bottom: 0px;
        }
    }
    @media screen and (min-width:1200px) {
        width: calc((100% + 30px) / 3 - 30px);
        &:not(:last-child) {
            margin-right: 30px;
            margin-bottom: 30px;
        }
        &:nth-child(3n) {
            margin-right: 0px;
        }
        &:nth-last-child(-n+3) {
            margin-bottom: 0px;
        }
    } 
}
.card-list__wrap {
    position: relative;
    overflow: hidden;
}
.card-list__card {
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    position: absolute;
    top: 0;
    transform: translateY(101%);
    transition: var(--timing-anim);
    .card-list__link:hover &,
    .card-list__link:focus & {
        transform: translateY(0%);
    }
    overflow: auto;
}
.card-list__link {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.card-list__card-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    padding: 63px 24px;
    
}
.card-list__site {
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    padding: 20px 24px 20px 24px;
    flex-grow: 1;   
}
.card-list__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondery-text-color);
    margin-bottom: 4px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 306px;
    }
}
.card-list__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.card-list__img {
    display: block;
    width: 100%;
}