.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
    transition: var(--timing-anim);
    &.is-hidden .modal {
        transform: translate(-50%, -50%) scale(0.5) skew(90deg, 45deg);
    }
}
